# --- MyZone ---
MYZONE_EMAIL=didrici@gmail.com
MYZONE_PASSWORD=Soonix59!

# --- Strava ---
STRAVA_CLIENT_ID=228843
STRAVA_CLIENT_SECRET=d0d1f1474ee8c85dbb9f4080ee1190c0514f4847
STRAVA_REFRESH_TOKEN=616de975b1585dcbfe86a9c6a4e8439a6d77c44a
